#buttons-view{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    padding-left: 700px;
    padding-right: 200px;
}
img src{
    float:left;
}
/* #tvshow-view,div {
    display: -ms-grid; 
    display: grid;
  
    -ms-grid-columns: 1fr 1fr 1fr 1fr;           
    grid-template-columns: repeat(4, 1fr);
  
    -ms-grid-gap: 1vw;
    grid-gap: 1vw;
} */